@font-face {
  font-family: 'beichang';
  /* Project id 3709294 */
  src: url('//at.alicdn.com/t/c/font_3709294_y1sfvfzmq4l.woff2?t=1665922095892') format('woff2'), url('//at.alicdn.com/t/c/font_3709294_y1sfvfzmq4l.woff?t=1665922095892') format('woff'), url('//at.alicdn.com/t/c/font_3709294_y1sfvfzmq4l.ttf?t=1665922095892') format('truetype');
}
.beichang {
  font-family: 'beichang' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.beichang-chart:before {
  content: '\e608';
}
.beichang-drag:before {
  content: '\e609';
}
.beichang-component:before {
  content: '\e60a';
}
.beichang-documentation:before {
  content: '\e60b';
}
.beichang-excel:before {
  content: '\e60c';
}
.beichang-example:before {
  content: '\e60d';
}
.beichang-education:before {
  content: '\e60e';
}
.beichang-email:before {
  content: '\e60f';
}
.beichang-clipboard:before {
  content: '\e610';
}
.beichang-a-404:before {
  content: '\e611';
}
.beichang-bug:before {
  content: '\e612';
}
.beichang-edit:before {
  content: '\e613';
}
.beichang-dashboard:before {
  content: '\e614';
}
.beichang-money:before {
  content: '\e615';
}
.beichang-guide:before {
  content: '\e616';
}
.beichang-size:before {
  content: '\e617';
}
.beichang-theme:before {
  content: '\e618';
}
.beichang-star:before {
  content: '\e619';
}
.beichang-tab:before {
  content: '\e61a';
}
.beichang-eye:before {
  content: '\e61b';
}
.beichang-eye-open:before {
  content: '\e61c';
}
.beichang-table:before {
  content: '\e61d';
}
.beichang-icon:before {
  content: '\e61e';
}
.beichang-international:before {
  content: '\e61f';
}
.beichang-password:before {
  content: '\e620';
}
.beichang-exit-fullscreen:before {
  content: '\e621';
}
.beichang-nested:before {
  content: '\e622';
}
.beichang-message:before {
  content: '\e623';
}
.beichang-people:before {
  content: '\e624';
}
.beichang-search:before {
  content: '\e625';
}
.beichang-link:before {
  content: '\e626';
}
.beichang-list:before {
  content: '\e627';
}
.beichang-lock:before {
  content: '\e628';
}
.beichang-peoples:before {
  content: '\e629';
}
.beichang-tree-table:before {
  content: '\e62a';
}
.beichang-fullscreen:before {
  content: '\e62b';
}
.beichang-setting:before {
  content: '\e62c';
}
.beichang-shopping:before {
  content: '\e62d';
}
.beichang-user:before {
  content: '\e62e';
}
.beichang-pdf:before {
  content: '\e62f';
}
.beichang-language:before {
  content: '\e630';
}
.beichang-wechat:before {
  content: '\e631';
}
.beichang-tree:before {
  content: '\e632';
}
.beichang-qq:before {
  content: '\e633';
}
.beichang-form:before {
  content: '\e634';
}
.beichang-zip:before {
  content: '\e635';
}
.beichang-skill:before {
  content: '\e636';
}
